{% extends "base.html"%}
{%debug%}
{% block content %}
{%if perms.main.customer %}
<h1>Ваши заказаные курсовики</h1>
{%endif%}
{%if perms.main.performer %}
<h1>Курсовики на рассмотрении</h1>
{%endif%}
<table class="table">
    <thead>
        <tr>
            <th>Тема курсовой </th>
            <th>Универ</th>
            <th>Минимальная цена</th>
            <th>Максимальная цена</th>
        </tr>
    </thead>
    <tbody>
{% for course_work in object_list %}
    <tr>
            <td>{{course_work.topic}} </td>
            <td>{{course_work.university}}</td>
            <td>{{course_work.min_price}}</td>
            <td>{{course_work.max_price}}</td>
            {%if perms.main.customer %}
                <td>
                <form action="{% url 'delete_request' course_work.pk %}" method ="post">
                    {% csrf_token %}
                    <input type ="submit" value="отменить заявку">
                </form>
                </td>
            {%endif%}
            {%if perms.main.performer %}
                <form method="get" action="accept/{{course_work.pk}}">
                    {% csrf_token %}
                    <td><input type="submit" class="button" value ="Принять заявку"></td>
                </form>
            {%endif%}
    </tr>

{% empty %}
    <li>У вас нет заказаных работ</li>
{% endfor %}
</tbody>
</table>
</ul>
{%if perms.main.customer %}
<a href="{% url 'new_course' %}">Заказать новый курсовик</a>
{%endif%}
{% endblock %}