{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-responsive.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
<!DOCTYPE html>
<html lang="ru">
<div id="nav">
    <ul>{% if user.is_authenticated %}
        <li><a href="{% url 'course' %}">{%if perms.main.customer %}Ваши заказаные курсовики{%endif%} {%if perms.main.performer %}Курсовики на рассмотрении{%endif%}</a></li>
        <li><a href="#divider">FEATURE SET</a></li>
        <li><a href="#divider4">WHO ARE WE</a></li>
        <li><a href="#divider5">INDIEGOGO</a></li>
        <li><a href="#href">CONTACT US</a></li>
        <a> Ваш текущий баланс: {{request.user.profile.wallet.balance}}</a>
        {%endif%}
    </ul>
</div>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer class = "to-bottom">
    {% block footer %}
    {% endblock %}
    <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - Site Fantastic 4
      </p>

      <a href="https://vk.com/daedroid" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>&nbsp; Designed by Daedroid</a>
    </div>
  </div>
    <!-- jQuery -->
    <script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'main/vendor/bootstrap/js/bootstrap.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'main/vendor/scrollreveal/scrollreveal.min.js'%}"></script>
    <script src="{% static 'main/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'main/js/creative.js'%}"></script>
</footer>
</html>